doctype html
html(dir="ltr", xmlns="http://www.w3.org/1999/xhtml", xmlns:o="urn:schemas-microsoft-com:office:office", lang="en")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="x-apple-disable-message-reformatting")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(content="telephone=no", name="format-detection")
    title welcome
    //
      [if (mso 16)]>
      <style type="text/css">
      a {text-decoration: none;}
      </style>
      <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG></o:AllowPNG>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    style(type="text/css").
      .rollover:hover .rollover-first {
      max-height:0px!important;
      display:none!important;
      }
      .rollover:hover .rollover-second {
      max-height:none!important;
      display:block!important;
      }
      .rollover span {
      font-size:0px;
      }
      u + .body img ~ div div {
      display:none;
      }
      #outlook a {
      padding:0;
      }
      span.MsoHyperlink,
      span.MsoHyperlinkFollowed {
      color:inherit;
      mso-style-priority:99;
      }
      a.es-button {
      mso-style-priority:100!important;
      text-decoration:none!important;
      }
      a[x-apple-data-detectors] {
      color:inherit!important;
      text-decoration:none!important;
      font-size:inherit!important;
      font-family:inherit!important;
      font-weight:inherit!important;
      line-height:inherit!important;
      }
      .es-desk-hidden {
      display:none;
      float:left;
      overflow:hidden;
      width:0;
      max-height:0;
      line-height:0;
      mso-hide:all;
      }
      .es-button-border:hover > a.es-button {
      color:#ffffff!important;
      }
      @media only screen and (max-width:600px) {*[class="gmail-fix"] { display:none!important } p, a { line-height:150%!important } h1, h1 a { line-height:120%!important } h2, h2 a { line-height:120%!important } h3, h3 a { line-height:120%!important } h4, h4 a { line-height:120%!important } h5, h5 a { line-height:120%!important } h6, h6 a { line-height:120%!important } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } h4 { font-size:24px!important; text-align:left } h5 { font-size:20px!important; text-align:left } h6 { font-size:16px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-header-body h4 a, .es-content-body h4 a, .es-footer-body h4 a { font-size:24px!important } .es-header-body h5 a, .es-content-body h5 a, .es-footer-body h5 a { font-size:20px!important } .es-header-body h6 a, .es-content-body h6 a, .es-footer-body h6 a { font-size:16px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock a { font-size:12px!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3, .es-m-txt-c h4, .es-m-txt-c h5, .es-m-txt-c h6 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3, .es-m-txt-r h4, .es-m-txt-r h5, .es-m-txt-r h6 { text-align:right!important } .es-m-txt-j, .es-m-txt-j h1, .es-m-txt-j h2, .es-m-txt-j h3, .es-m-txt-j h4, .es-m-txt-j h5, .es-m-txt-j h6 { text-align:justify!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3, .es-m-txt-l h4, .es-m-txt-l h5, .es-m-txt-l h6 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-m-txt-r .rollover:hover .rollover-second, .es-m-txt-c .rollover:hover .rollover-second, .es-m-txt-l .rollover:hover .rollover-second { display:inline!important } .es-m-txt-r .rollover span, .es-m-txt-c .rollover span, .es-m-txt-l .rollover span { line-height:0!important; font-size:0!important } .es-spacer { display:inline-table } a.es-button, button.es-button { font-size:18px!important; line-height:120%!important } a.es-button, button.es-button, .es-button-border { display:inline-block!important } .es-m-fw, .es-m-fw.es-fw, .es-m-fw .es-button { display:block!important } .es-m-il, .es-m-il .es-button, .es-social, .es-social td, .es-menu { display:inline-block!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .adapt-img { width:100%!important; height:auto!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } .es-social td { padding-bottom:10px } .h-auto { height:auto!important } .es-text-9806 .es-text-mobile-size-11, .es-text-9806 .es-text-mobile-size-11 * { font-size:11px!important; line-height:150%!important } .es-text-9122, .es-text-9122 p, .es-text-9122 a, .es-text-9122 h1, .es-text-9122 h2, .es-text-9122 h3, .es-text-9122 h4, .es-text-9122 h5, .es-text-9122 h6, .es-text-9122 ul, .es-text-9122 ol, .es-text-9122 li, .es-text-9122 span, .es-text-9122 sup, .es-text-9122 sub, .es-text-9122 u, .es-text-9122 b, .es-text-9122 strong, .es-text-9122 em, .es-text-9122 i { font-size:10px!important } .es-text-3423, .es-text-3423 p, .es-text-3423 a, .es-text-3423 h1, .es-text-3423 h2, .es-text-3423 h3, .es-text-3423 h4, .es-text-3423 h5, .es-text-3423 h6, .es-text-3423 ul, .es-text-3423 ol, .es-text-3423 li, .es-text-3423 span, .es-text-3423 sup, .es-text-3423 sub, .es-text-3423 u, .es-text-3423 b, .es-text-3423 strong, .es-text-3423 em, .es-text-3423 i { font-size:11px!important } .es-text-1749, .es-text-1749 p, .es-text-1749 a, .es-text-1749 h1, .es-text-1749 h2, .es-text-1749 h3, .es-text-1749 h4, .es-text-1749 h5, .es-text-1749 h6, .es-text-1749 ul, .es-text-1749 ol, .es-text-1749 li, .es-text-1749 span, .es-text-1749 sup, .es-text-1749 sub, .es-text-1749 u, .es-text-1749 b, .es-text-1749 strong, .es-text-1749 em, .es-text-1749 i { font-size:11px!important } .es-text-2197, .es-text-2197 p, .es-text-2197 a, .es-text-2197 h1, .es-text-2197 h2, .es-text-2197 h3, .es-text-2197 h4, .es-text-2197 h5, .es-text-2197 h6, .es-text-2197 ul, .es-text-2197 ol, .es-text-2197 li, .es-text-2197 span, .es-text-2197 sup, .es-text-2197 sub, .es-text-2197 u, .es-text-2197 b, .es-text-2197 strong, .es-text-2197 em, .es-text-2197 i { font-size:11px!important } .es-text-7446, .es-text-7446 p, .es-text-7446 a, .es-text-7446 h1, .es-text-7446 h2, .es-text-7446 h3, .es-text-7446 h4, .es-text-7446 h5, .es-text-7446 h6, .es-text-7446 ul, .es-text-7446 ol, .es-text-7446 li, .es-text-7446 span, .es-text-7446 sup, .es-text-7446 sub, .es-text-7446 u, .es-text-7446 b, .es-text-7446 strong, .es-text-7446 em, .es-text-7446 i { font-size:11px!important } .es-text-9806, .es-text-9806 p, .es-text-9806 a, .es-text-9806 h1, .es-text-9806 h2, .es-text-9806 h3, .es-text-9806 h4, .es-text-9806 h5, .es-text-9806 h6, .es-text-9806 ul, .es-text-9806 ol, .es-text-9806 li, .es-text-9806 span, .es-text-9806 sup, .es-text-9806 sub, .es-text-9806 u, .es-text-9806 b, .es-text-9806 strong, .es-text-9806 em, .es-text-9806 i { font-size:9px!important } .es-text-1176, .es-text-1176 p, .es-text-1176 a, .es-text-1176 h1, .es-text-1176 h2, .es-text-1176 h3, .es-text-1176 h4, .es-text-1176 h5, .es-text-1176 h6, .es-text-1176 ul, .es-text-1176 ol, .es-text-1176 li, .es-text-1176 span, .es-text-1176 sup, .es-text-1176 sub, .es-text-1176 u, .es-text-1176 b, .es-text-1176 strong, .es-text-1176 em, .es-text-1176 i { font-size:13px!important } }
      @media screen and (max-width:384px) {.mail-message-content { width:414px!important } }
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(dir="ltr", lang="en", style="background-color:#F6F6F6")
      //
        [if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" color="#f6f6f6"></v:fill>
        </v:background>
        <![endif]
      table.es-wrapper(width="100%", cellspacing="0", cellpadding="0", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6")
        tr
          td(valign="top", style="padding:0;Margin:0")
            table.es-content(cellspacing="0", cellpadding="0", align="center", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important")
              tr
                td(align="center", style="padding:0;Margin:0")
                  table.es-content-body(cellspacing="0", cellpadding="0", bgcolor="#ffffff", align="center", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px")
                    tr
                      td(align="left", style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px")
                        table(cellpadding="0", cellspacing="0", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                          tr
                            td(align="left", style="padding:0;Margin:0;width:560px")
                              table(cellpadding="0", cellspacing="0", width="100%", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td(align="center", style="padding:0;Margin:0;font-size:0")
                                    img.adapt-img(src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_ad87b693da6c81206b14c4b4b6aec49fc0e8d92a9c4bba694838dcf33cd7c500/images/frame_427319969.png", alt='', width="560", style="display:block;font-size:14px;border:0;outline:none;text-decoration:none")
                    tr
                      td(align="left", style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px")
                        table(width="100%", cellspacing="0", cellpadding="0", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                          tr
                            td(valign="top", align="center", style="padding:0;Margin:0;width:560px")
                              table(width="100%", cellspacing="0", cellpadding="0", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td(align="center", style="padding:0;Margin:0;font-size:0")
                                    img.adapt-img(src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_ad87b693da6c81206b14c4b4b6aec49fc0e8d92a9c4bba694838dcf33cd7c500/images/frame_2.png", alt='', width="552", style="display:block;font-size:14px;border:0;outline:none;text-decoration:none")
                    tr
                      td(align="left", style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px")
                        table(cellpadding="0", cellspacing="0", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                          tr
                            td(align="left", style="padding:0;Margin:0;width:560px")
                              table(cellpadding="0", cellspacing="0", width="100%", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.es-text-1176(align="left", style="padding:0;Margin:0")
                                    p(style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:20px;letter-spacing:0;color:#333333;font-size:13px") Dear #{userName},
                                      br
                                      br
                                      | Welcome to #{companyName}! We&apos;re thrilled to have you on board and excited to see what we can accomplish together.
                                      br
                                      br
                                      | As a new member of our community, you now have access to a wide range of features and resources designed to [briefly describe the benefits or goals of your platform/service]. Whether you&apos;re here to [mention primary purpose or use case], [secondary purpose or use case], or [any other relevant use case], we&apos;re here to support you every step of the way.
                                      br
                                      br
                                      | Here&apos;s a quick overview of what you can expect:
                                      br
                                      | 1.
                                      strong Explore Our Features
                                      | : Take some time to familiarize yourself with all the tools and features available to you. Whether you&apos;re a [beginner/advanced user], there&apos;s something here for everyone.
                                      br
                                      | 2.
                                      strong Get Started Guides
                                      | : If you&apos;re not sure where to begin, don&apos;t worry! We&apos;ve put together some helpful guides and tutorials to help you hit the ground running. You can find them [link to resources].
                                      br
                                      | 3.
                                      strong Connect with Our Community
                                      | : Join the conversation! Our community is full of passionate [industry/niche] enthusiasts just like you. Share your experiences, ask questions, and connect with fellow users [link to community/forum].
                                      br
                                      | 4.
                                      strong Need Help? 
                                      | If you have any questions or run into any issues along the way, our support team is here to help. Simply [provide instructions on how to contact support].
                                      br
                                      br
                                      | We&apos;re committed to making your experience with [Your Company/Service] a positive and rewarding one. Thank you for choosing us to [solve a problem, meet a need, etc.].
                                      br
                                      br
                                      | Once again, welcome aboard! We can&apos;t wait to see what you&apos;ll achieve.
                                      br
                                      br
                                      | Best regards,
                                      br
                                      br
                                      | #{companyName}
            table.es-footer(cellspacing="0", cellpadding="0", align="center", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important;background-color:transparent;background-repeat:repeat;background-position:center top")
              tr
                td(align="center", style="padding:0;Margin:0")
                  table.es-footer-body(cellspacing="0", cellpadding="0", bgcolor="#ffffff", align="center", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px;border-width:0", role="none")
                    tr
                      td(align="left", style="Margin:0;padding-top:20px;padding-right:20px;padding-left:20px;padding-bottom:20px")
                        table.es-right(cellspacing="0", cellpadding="0", align="right", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right")
                          tr
                            td(align="left", style="padding:0;Margin:0;width:560px")
                              table(width="100%", cellspacing="0", cellpadding="0", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td(align="center", style="padding:0;Margin:0;font-size:0")
                                    table.es-table-not-adapt.es-social(cellpadding="0", cellspacing="0", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                      tr
                                        td(align="center", valign="top", style="padding:0;Margin:0;padding-right:10px")
                                          img(title="X.com", src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_ad87b693da6c81206b14c4b4b6aec49fc0e8d92a9c4bba694838dcf33cd7c500/images/blushdesignapp.png", alt="X", width="31", height="32", style="display:block;font-size:14px;border:0;outline:none;text-decoration:none")
                                        td(align="center", valign="top", style="padding:0;Margin:0;padding-right:10px")
                                          img(title="Facebook", src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_ad87b693da6c81206b14c4b4b6aec49fc0e8d92a9c4bba694838dcf33cd7c500/images/ic_baselinefacebook.png", alt="Fb", width="31", height="32", style="display:block;font-size:14px;border:0;outline:none;text-decoration:none")
                                        td(align="center", valign="top", style="padding:0;Margin:0")
                                          img(title="Instagram", src="https://ehhdhtj.stripocdn.email/content/guids/CABINET_ad87b693da6c81206b14c4b4b6aec49fc0e8d92a9c4bba694838dcf33cd7c500/images/.png", alt="Ig", width="31", height="32", style="display:block;font-size:14px;border:0;outline:none;text-decoration:none")
                                tr
                                  td.es-text-9806(align="left", style="padding:0;Margin:0;padding-top:20px")
                                    p(align="center", style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;letter-spacing:0;color:#333333;font-size:9px")
                                      span(style="line-height:150%") © 2024 Promotional Products Now. All rights reserved.​
                                      | ​
                                tr
                                  td.es-text-9122(align="left", style="padding:0;Margin:0;padding-top:20px")
                                    p(align="center", style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:15px;letter-spacing:0;color:#333333;font-size:10px") You are receiving this mail because you registered to join the CIRCO platform as a user or a creator. This also shows that you agree to our Terms of use and Privacy Policies. If you no longer want to receive mails from use, click the unsubscribe link below to unsubscribe.
                    tr
                      td(align="left", style="padding:0;Margin:0;padding-right:20px;padding-left:20px")
                        // [if mso]><table style="width:560px" cellpadding="0" cellspacing="0"><tr><td style="width:140px" valign="top"><![endif]
                        table.es-left(cellpadding="0", cellspacing="0", align="left", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left")
                          tr
                            td(align="left", style="padding:0;Margin:0;padding-bottom:15px;width:140px")
                              table(cellpadding="0", cellspacing="0", width="100%", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.es-text-3423(align="left", style="padding:0;Margin:0")
                                    p.es-m-txt-c(style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:17px;letter-spacing:0;color:#333333;font-size:11px", align="right") Privacy policy
                        // [if mso]></td><td style="width:140px" valign="top"><![endif]
                        table.es-left(cellpadding="0", cellspacing="0", align="left", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left")
                          tr
                            td(align="left", style="padding:0;Margin:0;padding-bottom:15px;width:140px")
                              table(cellpadding="0", cellspacing="0", width="100%", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.es-text-1749(align="left", style="padding:0;Margin:0")
                                    p(style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:17px;letter-spacing:0;color:#333333;font-size:11px", align="center") Terms of service
                        // [if mso]></td><td style="width:140px" valign="top"><![endif]
                        table.es-left(cellpadding="0", cellspacing="0", align="left", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left")
                          tr
                            td(align="left", style="padding:0;Margin:0;padding-bottom:15px;width:140px")
                              table(cellpadding="0", cellspacing="0", width="100%", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.es-text-2197(align="left", style="padding:0;Margin:0")
                                    p(style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:17px;letter-spacing:0;color:#333333;font-size:11px", align="center") Help center
                        // [if mso]></td><td style="width:140px" valign="top"><![endif]
                        table.es-right(cellpadding="0", cellspacing="0", align="right", role="none", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right")
                          tr
                            td(align="left", style="padding:0;Margin:0;padding-bottom:15px;width:140px")
                              table(cellpadding="0", cellspacing="0", width="100%", role="presentation", style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.es-text-7446(align="left", style="padding:0;Margin:0")
                                    p(style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:17px;letter-spacing:0;color:#333333;font-size:11px", align="center") Unsubscribe
                        // [if mso]></td></tr></table><![endif]
